<app-nav></app-nav>

<!-- BEGIN BASE-->
<div id="base">

  <!-- BEGIN OFFCANVAS LEFT -->
  <div class="offcanvas">
  </div><!--end .offcanvas-->
  <!-- END OFFCANVAS LEFT -->

  <!-- BEGIN CONTENT-->
  <div id="content">
    <!-- BEGIN TABLE HOVER -->
    <section class="style-default-bright">
      <div class="section-body">
        <br>
        <h2 class="text-primary">Users List</h2>
        <table class="table table-hover">
          <thead>
          <tr>
            <th>Status</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Summary</th>
            <th class="text-right">Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><img class="img-circle width-1" src="../../assets/img/avatar2.jpg?1404026449" alt="" /></td>
            <td>Abbey</td>
            <td>Johnson</td>
            <td>Fuisset delicatissimi duo, qui ut animal noluisse erroribus.</td>
            <td class="text-right">
              <button type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Edit row"><i class="fa fa-pencil"></i></button>
              <button type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Copy row"><i class="fa fa-copy"></i></button>
              <button type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Delete row"><i class="fa fa-trash-o"></i></button>
            </td>
          </tr>
          <tr>
            <td><img class="img-circle width-1" src="../../assets/img/avatar4.jpg?1404026791" alt="" /></td>
            <td>Alex</td>
            <td>Nelson</td>
            <td>Ea eum veniam audire. Dicant vituperata consequuntur.</td>
            <td class="text-right">
              <button type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Edit row"><i class="fa fa-pencil"></i></button>
              <button type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Copy row"><i class="fa fa-copy"></i></button>
              <button type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Delete row"><i class="fa fa-trash-o"></i></button>
            </td>
          </tr>
          <tr>
            <td><img class="img-circle width-1" src="../../assets/img/avatar11.jpg?1404026774" alt="" /></td>
            <td>Mary</td>
            <td>Peterson</td>
            <td>Per at postea mediocritatem, vim numquam aliquid eu, in nam sale gubergren.</td>
            <td class="text-right">
              <button type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Edit row"><i class="fa fa-pencil"></i></button>
              <button type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Copy row"><i class="fa fa-copy"></i></button>
              <button type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Delete row"><i class="fa fa-trash-o"></i></button>
            </td>
          </tr>
          </tbody>
        </table>
      </div><!--end .section-body -->
    </section>
    <!-- END TABLE HOVER -->

  </div><!--end #content-->
  <!-- END CONTENT -->

</div><!--end #base-->
<!-- END BASE -->

<app-sidebar></app-sidebar>
