<app-nav></app-nav>

<!-- BEGIN BASE-->
<div id="base">

  <!-- BEGIN OFFCANVAS LEFT -->
  <div class="offcanvas">
  </div><!--end .offcanvas-->
  <!-- END OFFCANVAS LEFT -->

  <!-- BEGIN CONTENT-->
  <div id="content">
    <!-- BEGIN TABLE HOVER -->
    <section class="style-default-bright">
      <div class="section-body">
        <br>
        <h2 class="text-primary">Users List</h2>
        <table class="table table-hover">
          <thead>
          <tr>
            <th>First Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th class="text-right">Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let u of users">
            <td>{{ u.firstname }}</td>
            <td>{{ u.surname }}</td>
            <td>{{ u.email }}</td>
            <td class="text-right">
              <button type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i></button>
              <button (click)="deleteUser(u)"  type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Delete"><i class="fa fa-trash-o"></i></button>
            </td>
          </tr>
          </tbody>
        </table>
      </div><!--end .section-body -->
    </section>
    <!-- END TABLE HOVER -->

  </div><!--end #content-->
  <!-- END CONTENT -->

</div><!--end #base-->
<!-- END BASE -->

<app-sidebar></app-sidebar>
