<!-- BEGIN LOGIN SECTION -->
<section class="section-account">
  <div class="spacer"></div>
  <div class="card contain-sm">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-6">
          <br/>
          <span class="text-lg text-bold text-primary">LOGIN</span>
          <br/><br/>
          <form class="form floating-label" accept-charset="utf-8" method="post">
            <div class="form-group">
              <input type="text" class="form-control" [(ngModel)]="user.email" id="email" name="email">
              <label for="email">Email</label>
            </div>
            <div class="form-group">
              <input type="password" class="form-control" [(ngModel)]="user.password" id="password" name="password">
              <label for="password">Password</label>
            </div>
            <br/>
            <div class="row">
              <div class="col-xs-6 text-right">
                <button class="btn btn-primary btn-raised" (click)="onSubmit(user)"  type="submit">Login</button>
              </div><!--end .col -->
            </div><!--end .row -->
          </form>
        </div><!--end .col -->
        <div class="col-sm-5 col-sm-offset-1 text-center">
          <br><br>
          <p>
            <a href="#" class="btn btn-block btn-raised btn-info"><i class="fa fa-google pull-left"></i>Login with Google</a>
          </p>
        </div><!--end .col -->
      </div><!--end .row -->
    </div><!--end .card-body -->
  </div><!--end .card -->
</section>
<!-- END LOGIN SECTION -->
