<!-- BEGIN MENUBAR-->
<br>
<div id="menubar" class="menubar-inverse ">
  <div class="menubar-fixed-panel">
    <div>
      <a class="btn btn-icon-toggle btn-default menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
        <i class="fa fa-bars"></i>
      </a>
    </div>
    <div class="expanded">
      <a href="../../html/dashboards/dashboard.html">
        <span class="text-lg text-bold text-primary ">MATERIAL&nbsp;ADMIN</span>
      </a>
    </div>
  </div>
  <div class="menubar-scroll-panel">

    <!-- BEGIN MAIN MENU -->
    <ul id="main-menu" class="gui-controls">



      <!-- BEGIN USER -->
      <li class="gui-folder">
        <a>
          <div class="gui-icon"><i class="md md-people"></i></div>
          <span class="title">Users</span>
        </a>
        <!--start submenu -->
        <ul>
          <li><a href="/user/new" ><span class="title">Add new user</span></a></li>
          <li><a href="/user/list" ><span class="title">List users</span></a></li>
        </ul><!--end /submenu -->
      </li><!--end /menu-li -->
      <!-- END USER -->

    </ul><!--end .main-menu -->
    <!-- END MAIN MENU -->

  </div><!--end .menubar-scroll-panel-->
</div><!--end #menubar-->
<!-- END MENUBAR -->
